mkdocs-get-deps==0.2.0 ; python_version >= "3.8" and python_version < "3.14"
mkdocs==1.6.1 ; python_version >= "3.8" and python_version < "3.14"
pygments==2.19.1 ; python_version >= "3.8" and python_version < "3.14"
